.idea/misc.xml
.idea/modules.xml
.idea/upwork_scanner.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.python-version
__pycache__/__init__.cpython-38.pyc
__pycache__/conftest.cpython-38-pytest-7.1.2.pyc
helpers/__pycache__/exceptions.cpython-38.pyc
helpers/__pycache__/exceptions.cpython-39.pyc
models/__pycache__/upwork_user.cpython-38.pyc
models/__pycache__/upwork_user.cpython-39.pyc
scanners/__pycache__/upwork_scanner.cpython-37.pyc
scanners/__pycache__/upwork_scanner.cpython-39.pyc
services/__pycache__/mongo_db.cpython-38.pyc
services/__pycache__/mongo_db.cpython-39.pyc
tests/__pycache__/__init__.cpython-38.pyc
tests/__pycache__/app_factory.cpython-38.pyc
tests/__pycache__/conftest.cpython-38-pytest-7.1.2.pyc
tests/__pycache__/test_connection.cpython-38-pytest-7.1.2.pyc
tests/__pycache__/test_model_instantiation.cpython-38-pytest-7.1.2.pyc
tests/__pycache__/test_mongo_connection.cpython-38-pytest-7.1.2.pyc
